/* ----------header---------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 61px;
    background: rgba(255, 255, 255, .88);
    backdrop-filter: saturate(150%) blur(32px);
    border-bottom: 1px solid #eee;
    z-index: 99;
}
.header .layout{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

/* -----왼쪽 ----- */
.header .left{
    display: flex;
    align-items: center;
}
/* 로고 */
.header .logo{
    max-width: 170px;
    min-width: 165px;
    height: 32px;

}
.header .logo a{
    height: 100%;
}
/* 네비 */
.header .gnb{
    height: 100%;
}

.header .gnb-list{
    display: flex;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    gap: 15px;
}

.header .gnb-list:hover 
.header .gnb-list li{
    height: 100%;
}

.header .gnb-list li a{
    display: flex;
    height: 100%;
    padding: 0 2px;
    align-items: center;
}
.header .gnb-list li svg{
    margin-right: 5px;
}



/* -----오른쪽----- */
.header .right{
    height: 100%;
}
.header .btn-area{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 6px;
}

.btn-area li button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    
    align-items: center;
    position: relative;
    
}
.search-btn{
    margin-right: 3px;
}
.btn-area li button img{ 
    width: 24px;
    height: 24px;
    opacity: .8;
}
.btn-area li button span{ 
    display: block;
    border-radius: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(55,56,60,.16);
    transition: opacity .3s;
}
.btn-area li button:hover span{
    opacity: .2;
}
.header .btn-area a{
    padding: 8px 14px;
    border: 1px solid #ddd;
    background: #fff;
    color: #171719;
    font-weight: 600;
    font-size: 13px;
    border-radius: 8px;
    transition: background .3s ;
}
.header .btn-area a:hover{
    background: rgba(55,56,60,.05);
}

.header .btn-area .signin a{
    color: #0066ff;

}
.signin b{
    font-weight: 600;
}
.mb-menu-btn{
    display: none;
}


@media screen and (max-width : 992px) {
    .header {
        border-bottom-color: transparent;
        height: 56px;
    }
    .header .gnb{display: none;}
    .signin{order: -1;}
    .signin b{display: none;}
    .interaction{display: none;}
    .mb-menu-btn{display: block;}
}

@media screen and (max-width : 768px) {

}